.chat__item{
    cursor: pointer;
    display: flex;  
    align-items: center;
    padding: 10px;
    border-bottom:1px solid rgba(146, 141, 141, 0.445);
    height:100%;
 }
.chat__item:hover{
    background-color: rgba(128, 128, 128, 0.2);
 }
 .chat__item__selected{
    background-color: rgba(128, 128, 128, 0.2); 
 }

 .chat__dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: cover;
       object-fit: cover;
    
 }

 .chat__item__options{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    position: relative;
    height:100% !important;  
 }



 .chat__options__icons{
    display: flex;
    align-items: center;
 }

 .block__icon{
    position: relative;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;

    margin-right: 5px;

    
 }
 .expand__icon{
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
 }

 .expand__icon:hover{
   background-color: rgba(139, 136, 136, 0.486);
 }

.menu__span{
   position:relative;
}

.menu__options{
   padding-top: 5px;
   padding-bottom: 5px;
   z-index: 2;
   top:100%;
   right:5px;
   margin-top: -5px;
   position: absolute;
   max-width:450px;
   width:-webkit-max-content;
   width:-moz-max-content;
   width:max-content;
   border-radius: 5px;

}

.menu__option__item{
   padding:7px 20px;
   min-width: 150px;
   cursor: pointer;
}
.menu__option__item:hover{
   background-color:rgba(139, 136, 136, 0.2);
}

.options{
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
    top:100%;
    right:5px;
    margin-top: -5px;
    position: absolute;
    max-width:450px;
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content;
    border-radius: 5px;
}

.option__item{
    padding:7px 20px;
    min-width: 150px;
}

.option__item:hover{
  background-color:rgba(139, 136, 136, 0.2) ;
}

